<footer class="footer">
  <ul class="footer__section">
    <li class="footer__item">
      <a class="footer__link" href="{{ footer.about }}">About</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="{{ footer.donate }}">Donate</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="{{ footer.privacy }}">Privacy</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="{{ footer.security }}">Security</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="{{ footer.thanks }}">Thanks</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="{{ footer.source_code }}">
        v{{ footer.version }}-{{ footer.git_hash }}
    </li>
  </ul>
</footer>
