{% extends 'base' %} 

{% block nav %}
	{% include "pub_nav" %}
{% endblock nav %}

{% block body %}
  <body class="survey__body">
    <main class="survey__container">
      <h1>mCaptcha benchmark survey</h1>
      <section>
        {% include "error_comp" %}
        <h2>Why should I participate</h2>
        <p>
          <a href="https://mcaptcha.org" target="_blank">mCaptcha</a>
          is a cutting edge, privacy respecting CAPTCHA system. We use a
          <a href="https://en.wikipedia.org/wiki/Proof_of_work" target="_blank"
            >proof of work</a
          >
          based mechanism to defend against
          <a href="https://en.wikipedia.org/wiki/Proof_of_work" target="_blank"
            >denial-of-service attacks</a
          >
          which allows for a non-interactive CAPTCHA experience. We require
          performance metrics measured on a wide range of devices to fine-tune the
          system for optimal user experience, see for yourself!
        </p>
        <div class="survey__captcha-widget" style="width: 304px; height: 78px">
          <div id="mcaptcha__widget-container" style="width: 304px; height: 78px"></div>
        </div>
      </section>

      <section>
        <h2>Privacy policy</h2>
        <p>This survey collects the following information:</p>
        <ul>
          <li>Device name</li>
          <li>Operating system</li>
          <li>Processor information</li>
          <li>Benchmark results</li>
        </ul>
        <b>No Personally identifying information is collected</b>
      </section>

      <a
        class="link__btn"
        href="{{ payload }}"
        >Get started</a
      >
    </main>
  </body>
  <script src="{{ assets.glue }}"></script>
{% endblock body %}
