<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

	{% set title = page_title ~ " | " ~ "mCaptcha Survey" %}
	<title> {{ title }} </title>
    <meta
      name="twitter:title"
	  content="{{ title }}"
    />
    <meta
      property="og:title"
	  content="{{ title }}"
    />

    <link rel="stylesheet" href="{{ assets.css }}" />
    <link
      rel="stylesheet"
      media="screen and (max-width: 1250px)"
      type="text/css"
      href="{{ assets.mobile_css }}"
    />

    <meta name="referrer" content="no-referrer-when-downgrade" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta
      name="description"
      content="mCaptcha is an AGPL'd, privacy focued, proof-of-work based CAPTCHA System"
    />

    <meta name="author" content="Aravinth Manivannan" />
    <meta name="twitter:card" value="summary_large_image" />
    <meta name="twitter:site" content="@realaravinth" />

    <meta
      name="twitter:description"
      content="mCaptcha is an AGPL'd, privacy focued, proof-of-work based CAPTCHA System"
    />
    <meta name="twitter:creator" content="@realaravinth" />
    <meta property="twitter:image" content="{{ assets.logo.path }}" />


    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://mcaptcaha.org" />
    <meta property="og:image" content="{{ assets.logo.path }}" />

    <meta
      property="og:description"
      content="mCaptcha is an AGPL'd, privacy focued, proof-of-work based CAPTCHA System"
    />
    <meta
      property="og:site_name"
      content="mCaptcha is an AGPL'd, privacy focued, proof-of-work based CAPTCHA System"
    />
  </head>

<header>{% block nav %} {% endblock nav %}</header>
{% block body %} {% endblock body %}
{% include "footer" %}

<script src="{{ assets.js }}"></script>
</html>
