{% extends 'base' %} 
{% block body %}
<body class="panel__body">
  <main class="panel__container">
    {% if payload %}
      <table class="campaign__table">
      <thead class="campaign__heading">
        <tr>
          <th class="campaign__title-text">ID</th>
          <th class="campaign__title-text">Name</th>
          <th class="campaign__title-text">Results</th>
        </tr>
      </thead>
      <tbody class="campaign__body">
        {% for campaign in payload %}
          <tr class="campaign__item">
            <td>
              <a href="{{ campaign.route }}">
                <p class="campaign__item-heading">{{ campaign.name }}</p>
              </a>
            </td>
            <td>
              <a href="{{ campaign.route }}">
                <p class="campaign__item-text">{{ campaign.uuid }}</p></a
              >
            </td>

            <td>
              <a href="{{ campaign.results }}">
                <p class="campaign__item-text">Click Here</p></a
              >
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% else %}
      <p>
        Looks like you don't have any campaigns registered,
        <a class="link__btn" href="{{ page.panel.campaigns.new }}"> click here </a>
        to create a new campaign!
      </p>
    {% endif %}
  </main>
</body>
{% endblock body %}
